--extra-index-url https://download.pytorch.org/whl/cpu
streamlit>=1.32
opencv-python-headless>=4.8
numpy<2
pandas
matplotlib
Pillow==10.2.0
tensorflow-cpu==2.15.1
tf-keras==2.15.0
deepface>=0.0.93
torch==2.2.2
torchvision==0.17.2
facenet-pytorch==2.6.0
